.buttonadmin button{
    width: 200px;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-top: 30px;
}

.addadmin .backadmin button{
    width: 200px;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-top: 30px;
}

.submit button {
    width: 200px;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}
.editprofile button{
    width: 200px;
    height: 30px;
    color: white;
    background-color: black;
    border-radius: 10px;
    margin-bottom: 20px;
}
